<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.sicher.sichersmarthome">

    <uses-sdk
        android:maxSdkVersion="23"/>


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ShowHeatingActivity"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity
            >

        <activity android:name=".ShowLightActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.sicher.sichersmarthome.StartActivity" />
        </activity>

        <activity android:name=".ShowRoomActivity"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.sicher.sichersmarthome.StartActivity" />
        </activity>

        <activity android:name=".RoomActivity"
            android:parentActivityName=".ShowRoomActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.sicher.sichersmarthome.ShowRoomActivity" />
        </activity>




        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
